* {
	font-family: cursive;
	--color-main: #ff0000
}
.product-details-box{
	max-width: 455px;
	
}
.product-nameed {
	max-width: 455px;
	background-color: #00628c;
	color: #fff;
	font-size: 18px;
	font-weight: 700;
	line-height: 1.5;
	padding: 5px 15px;
	border-radius: 5px;
	margin: 0;
	text-transform: capitalize;
	border-bottom: 1px solid #ddd;
	border-top: 5px solid var(--color-main);
}

.product-details-borderskin {
	max-width: 455px;
	border: 1px solid #ddd;
	border-radius: 5px;
	margin-bottom: 5px;
	margin-top: 5px
}

.product-short-desc {
	font-size: 14px;
	line-height: 1.5
}

.list {

	list-style: none;
	padding-right: 0;
}

.list li {
	padding: 10px;
	margin: 8px 5px;
	background-color: #cccccc46;
	transition: 0.155s ease-in-out all;
	-webkit-transition: 0.155s ease-in-out all;
	-moz-transition: 0.155s ease-in-out all;
	-ms-transition: 0.155s ease-in-out all;
	-o-transition: 0.155s ease-in-out all;
}
.list li .icon {
	overflow: hidden;
	margin-bottom:-9px;
	margin-left:5px;
	display: inline-block;
	 width:20px;
	 height:20px;
	 padding:5px;
	 background-color: #00628c42;
	 border-radius:100px;
	 -webkit-border-radius:100px;
	 -moz-border-radius:100px;
	 -ms-border-radius:100px;
	 -o-border-radius:100px;
}
.list li span img {
width:20px;
height:20px;
}

.list li:hover {
	background-color: #cccccc;
}
.container-table{
	max-width:1366px;
	margin:auto
}
.product-table .head {
	font-weight: 700;
	color: #fff;
	background: #642B73;
	/* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #C6426E, #642B73);
	/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #C6426E, #642B73);
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.row,
.product-table .row2 {
	font-weight: 700;
	color: #fff;
	background: var(--color-main);
}

.product-table .row3 {
	font-weight: 700;
	color: var(--color-main);
	background: #fff;
}

.tabs.product-tabs .container-table p {
	margin-bottom: 15px;
}

.tabs.product-tabs.tabs-left .container-table {
	border-right: 1px solid #eee;
	padding: 37px 15px 27px;
}

@media (min-width: 768px) {
	.tabs.product-tabs.tabs-left .container-table {
		min-height: 250px;
	}
}

@media (max-width: 767px) {
	.tabs.product-tabs.tabs-left .container-table {
		display: block;
		width: 100%;
		height: auto;
		padding-top: 25px;
		padding-bottom: 15px;
	}
}

.product-table {
	width: 100%;
	border-spacing: 0;
	empty-cells: show;
	font-size: 100%;
}

.product-table tbody td,
.product-table thead th {
	border-bottom: 1px solid #dcdcdc;
	border-left: 1px solid #dcdcdc;
	padding: 10px;
	line-height: 1.6;
}

.product-table .row {
	width: 25%;
}

.product-table .row3 {
	width: 65%;
}

.product-table .row h2,
.product-table .row3 h2,
.product-table .row2 h2 {
	font-size: 120% !important;
	font-weight: 700 !important;
	color: #fff !important;
	margin-bottom: 0 !important;
}

.product-table {
	border: 1px solid #ddd;
	margin-bottom: 15px;
}


@media (max-width: 600px) {

	.product-table tbody td,
	.product-table thead th {
		padding-left: 5px;
	}
}